<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let hero of heroes" [value]="hero.superhero">
        {{ hero.superhero }}
      </mat-option>

      <mat-option *ngIf="!heroes.length" [value]="'No hay resultados'">
        No hay resultados
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="heroes.length">
    <app-hero-card *ngFor="let heroe of heroes" [heroe]="heroe"></app-hero-card>
  </div>

</div>
