<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>
              Loading...
            </h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner></mat-spinner>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="heroe; else divLoading" class="grid p-2">
  <app-hero-card [heroe]="heroe"></app-hero-card>
</div>
